@{
    string[] value = (ViewBag.Report as string).Split('-');

    string[] mtype = value[0].Split('+');
    string[] mltype = value[1].Split('+');
    string[] dep_list = value[2].Split('+');
    string[] responsible = value[3].Split('+');
    string[] follower = value[4].Split('+');
    string[] confirmed = value[5].Split('+');
    string[] status = value[6].Split('+');
    DateTime stime = Convert.ToDateTime(value[7]);
    DateTime ftime = !string.IsNullOrEmpty(value[8]) ? Convert.ToDateTime(value[8]) : new DateTime();
}

@using adyTask2.Models

<div id="ml_report">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        İnteraktiv Tapşırıq Hesabatı
                    </div>

                    <div class="new_meeting_line_option new_meeting_operation panel-options">
                        <a href="javascript:void(0)" class="save_filter">
                            <span>Filtri saxla</span>
                            <i class="fa fa-save"></i>
                        </a>
                    </div>
                    <div class="new_meeting_line_option new_meeting_operation panel-options">
                        <a href="javascript:void(0)" class="select_filter">
                            <span>Filtri seç</span>
                            <i class="fa fa-copy"></i>
                        </a>
                    </div>
                </div>

                <div class="panel-body">

                    <form role="form" class="form-horizontal form-groups-bordered reportForm" enctype="multipart/form-data">

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">İclas növü</label>
                                    <div class="col-sm-7">
                                        <select class="form-control js-example-basic-single select2c" required name="meeting_type" id="meeting_type" multiple>
                                            <option></option>
                                            @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                            {
                                                foreach (var item in adyContext.MeetingType)
                                                {
                                                    if (mtype != null && mtype.Length > 0)
                                                    {
                                                        if (mtype.Contains(item.Id.ToString()))
                                                        {
                                                            <option value="@item.Id" selected>@item.Name</option>
                                                        }
                                                        @*else
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }*@
                                                    }
                                                    @*else
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }*@
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">İclas sətirinin növü</label>
                                    <div class="col-sm-7">
                                        <select class="js-example-basic-single select2c form-control" required name="ml_type" id="ml_type" multiple>
                                            <option></option>
                                            @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                            {
                                                foreach (MlType item in adyContext.MlType)
                                                {
                                                    if (mltype != null && mltype.Length > 0)
                                                    {
                                                        if (mltype.Contains(item.Id.ToString()))
                                                        {
                                                            <option value="@item.Id" selected>@item.Name</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Departament</label>

                                    <div class="col-sm-7">

                                        <select id="mlDepartment" name="departmentId" class="js-example-basic-single select2c" required multiple>
                                            @if (dep_list != null && dep_list.Length > 0)
                                            {
                                                <option></option>
                                                using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                {
                                                    foreach (var item in dep_list)
                                                    {
                                                        if (!string.IsNullOrEmpty(item))
                                                        {
                                                            <option value="@item" selected>@adyContext.Department.FirstOrDefault(x => x.Id == int.Parse(item)).Name</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Məsul şəxs</label>

                                    <div class="col-sm-7">
                                        <select class="js-example-basic-single select2c form-control" required name="responsibleUser" id="responsibleUser" multiple>
                                            <option></option>
                                            @if (responsible != null && responsible.Length > 0)
                                            {
                                                using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                {
                                                    var _user = adyContext.User.Where(x => responsible.Contains(x.EmailAddress));
                                                    foreach (var item in _user)
                                                    {
                                                        <option value="@item.EmailAddress" selected>@item.FirstName @item.LastName (@item.OrganizationFullName)</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Təqib edən</label>

                                    <div class="col-sm-7">
                                        <select class="js-example-basic-single select2c form-control" required name="mlFollowerUser" id="mlFollowerUser" multiple>
                                            @if (follower != null && follower.Length > 0)
                                            {
                                                using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                {
                                                    var _user = adyContext.User.Where(x => follower.Contains(x.EmailAddress));
                                                    foreach (var item in _user)
                                                    {
                                                        <option value="@item.EmailAddress" selected>@item.FirstName @item.LastName (@item.OrganizationFullName)</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Təsdiqləyən</label>

                                    <div class="col-sm-7">
                                        <select class="js-example-basic-single select2c form-control" required name="identifierUser" id="identifierUser" multiple>
                                            @if (confirmed != null && confirmed.Length > 0)
                                            {
                                                using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                {
                                                    var _user = adyContext.User.Where(x => confirmed.Contains(x.EmailAddress));
                                                    foreach (var item in _user)
                                                    {
                                                        <option value="@item.EmailAddress" selected>@item.FirstName @item.LastName (@item.OrganizationFullName)</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row row_twenty">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Başlama tarixi</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" required class="form-control datepicker" id="ml_start_date" data-format="dd/mm/yyyy" value="@stime.Day/@stime.Month/@stime.Year">
                                            <div class="input-group-addon">
                                                <a href="javascript:void(0)"><i class="entypo-calendar"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Bitmə tarixi</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            @{ 
                                                string ftime_string;
                                                if (!string.IsNullOrEmpty(value[8]))
                                                {
                                                    ftime_string = $"{ftime.Day}/{ftime.Month}/{ftime.Year}";
                                                }
                                                else
                                                {
                                                    ftime_string = "";
                                                }
                                            }
                                            <input type="text" required class="form-control datepicker" id="ml_finish_date" data-format="dd/mm/yyyy" value="@ftime_string">
                                            <div class="input-group-addon">
                                                <a href="javascript:void(0)"><i class="entypo-calendar"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Status</label>
                                    <div class="col-sm-7">
                                        <select name="mlStatus" id="mlStatus" class="form-control js-example-basic-single select2c" required multiple>
                                            <option></option>
                                            @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                            {
                                                foreach (var item in adyContext.Status.Where(x => x.Id > 1))
                                                {
                                                    if (status != null && status.Length > 0)
                                                    {
                                                        if (status.Contains(item.Id.ToString()))
                                                        {
                                                            <option value="@item.Id" selected>@item.StatusName</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>




                        </div>



                        <div class="row row_twenty report_submit_row">
                            <div class="col-md-3">
                                <a href="javascript:void(0)" class="btn btn-green btn-sm report_search">Axtar</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>      