@{
    Layout = null;
    int user_id = int.Parse(User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
}

@using adyTask2.Models;

<div class="meeting_operation_line_table">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        Birbaşa tapşırıq
                    </div>
                    @if (ViewBag.SType == 0)
                    {
                        <div class="new_meeting_line_option revision_option panel-options">
                            <a href="javascript:void(0)">
                                <span>Revizəyə göndər</span>
                                <i class="fa fa-times"></i>
                            </a>
                        </div>

                        <div class="new_meeting_line_option conf_ml_option  panel-options">
                            <a href="javascript:void(0)">
                                <span>Təsdiqlə</span>
                                <i class="fa fa-check"></i>
                            </a>
                        </div>
                    }
                </div>

                @if (ViewBag.Type == 0)
                {
                    <div class="panel_heading_s">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="s30">
                                    <span>Növü</span>
                                </div>
                                <div class="s70 taskSelect">
                                    <select class="form-control select2c select2" name="meeting_line_type" id="meeting_line_type">
                                        <option></option>
                                        @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                        {
                                            if (ViewBag.MeetingLine == 1)
                                            {
                                                <option value="3">Hamısı</option>
                                                <option value="1" selected>Birbaşa tapşırıqlar</option>
                                                <option value="2">İcas tapşırıqları</option>
                                            }
                                            else if (ViewBag.MeetingLine == 2)
                                            {
                                                <option value="3">Hamısı</option>
                                                <option value="1">Birbaşa tapşırıqlar</option>
                                                <option value="2" selected>İcas tapşırıqları</option>
                                            }
                                            else
                                            {
                                                <option value="3" selected>Hamısı</option>
                                                <option value="1">Birbaşa tapşırıqlar</option>
                                                <option value="2">İcas tapşırıqları</option>
                                            }


                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="s40">
                                    <span>Açıqda qalanlar</span>
                                </div>
                                @*<div class="s60">
                                        <div class="notCompletedSection custom_switch">
                                            <div class="notCompletedInner custom_switch_inner">
                                                @if (!ViewBag.NotCompleted)
                                                {
                                                    <div class="custom_ap custom_switch_passive"></div>
                                                    <a href="javascript:void(0)" class="custom_switch_button notCompletedButton"></a>
                                                    <input type="checkbox" id="notCompleted" hidden />
                                                }
                                                else if (ViewBag.NotCompleted)
                                                {
                                                    <div class="custom_ap custom_switch_active"></div>
                                                    <a href="javascript:void(0)" class="custom_switch_button notCompletedButton"></a>
                                                    <input type="checkbox" id="notCompleted" checked hidden />
                                                }
                                            </div>
                                        </div>
                                    </div>*@


                                <div class="s60 taskSelect">
                                    <select class="form-control select2c select2" name="notCompletedButton" id="notCompletedButton">
                                        <option></option>
                                        @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                        {
                                            if (ViewBag.NotCompleted == 1)
                                            {
                                                <option value="3">Hamısı</option>
                                                <option value="1" selected>Açıqda qalanlar</option>
                                                <option value="2">Tamamlananlar</option>
                                            }
                                            else if (ViewBag.NotCompleted == 2)
                                            {
                                                <option value="3">Hamısı</option>
                                                <option value="1">Açıqda qalanlar</option>
                                                <option value="2" selected>Tamamlananlar</option>
                                            }
                                            else
                                            {
                                                <option value="3" selected>Hamısı</option>
                                                <option value="1">Açıqda qalanlar</option>
                                                <option value="2">Tamamlananlar</option>
                                            }

                                        }
                                    </select>
                                </div>



                            </div>

                            @if (ViewBag.MLM!=1)
                            {
                                <div class="col-xs-4">
                                    <div class="s30">
                                        <span>Mənim yaratdıqlarım</span>
                                    </div>
                                    @*<div class="s60">
                                            <div class="custom_switch">
                                                <div class="myMeetingLines custom_switch_inner">
                                                    @if (!ViewBag.MyMeetingLines)
                                                    {
                                                        <div class="custom_ap custom_switch_passive"></div>
                                                        <a href="javascript:void(0)" class="custom_switch_button myMeetingLinesButton"></a>
                                                        <input type="checkbox" id="myTasksCheck" hidden />
                                                    }
                                                    else if (ViewBag.MyMeetingLines)
                                                    {
                                                        <div class="custom_ap custom_switch_active"></div>
                                                        <a href="javascript:void(0)" class="custom_switch_button myMeetingLinesButton"></a>
                                                        <input type="checkbox" id="myTasksCheck" checked hidden />
                                                    }
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="s70 taskSelect">
                                        <select class="form-control select2c select2" name="myMeetingLinesButton" id="myMeetingLinesButton">
                                            <option></option>
                                            @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                            {
                                                if (ViewBag.MyMeetingLines == 1)
                                                {
                                                    <option value="3">Hamısı</option>
                                                    <option value="1" selected>Mənim yaratdıqlarım</option>
                                                    <option value="2">Digərlərinin yaratdıqları</option>
                                                }
                                                else if (ViewBag.MyMeetingLines == 2)
                                                {
                                                    <option value="3">Hamısı</option>
                                                    <option value="1">Mənim yaratdıqlarım</option>
                                                    <option value="2" selected>Digərlərinin yaratdıqları</option>
                                                }
                                                else
                                                {
                                                    <option value="3" selected>Hamısı</option>
                                                    <option value="1">Mənim yaratdıqlarım</option>
                                                    <option value="2">Digərlərinin yaratdıqları</option>
                                                }

                                            }
                                        </select>
                                    </div>


                                </div>
                            }
                            @*<div class="col-xs-3">
                                    <div class="s40">
                                        <span>Department</span>
                                    </div>

                                    <div class="s60 taskSelect">
                                        <select class="form-control select2c select2" name="meeting_line_department" id="meeting_line_department">
                                            <option></option>
                                            @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                            {
                                                if (ViewBag.Department >= 1 && ViewBag.Department <= adyContext.Department.Max(x => x.Id))
                                                {
                                                    <option selected value="@ViewBag.Department">@ViewBag.DepName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                }

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered responsive">
                                <thead>
                                    <tr>
                                        @if (ViewBag.HasCheck != null)
                                        {
                                            <th width="1%">
                                                <input tabindex="5" type="checkbox" class="icheck-11 first-check">
                                            </th>
                                        }
                                        <th width="3%">#</th>
                                        @if (ViewBag.Type == 0 || ViewBag.Type == 2)
                                        {
                                            <th>Əməliyyatlar</th>
                                        }
                                        <th>Qeyd növü</th>
                                        <th>Açıqlama</th>
                                        <th>Başlama tarixi</th>
                                        <th>Bitmə tarixi</th>
                                        <th>Məsul şəxs</th>
                                        <th>Təsdiq edən</th>
                                        <th>Status</th>
                                    </tr>
                                    @*<tr>
                                            <th><input id="salam" type="text" placeholder="salam" /></th>
                                        </tr>*@
                                </thead>
                                <tbody>
                                    @{
                                        int i = (ViewBag.Page - 1) * 10 + 1;
                                        foreach (MeetingLine item in Model)
                                        {
                                            <tr data-id="@item.Id">
                                                @if (ViewBag.HasCheck != null)
                                                {
                                                    <th width="1%">
                                                        <input tabindex="5" type="checkbox" data-id="@item.Id" class="ml_check icheck-11">
                                                    </th>
                                                }
                                                @if (item.IsRevised == 1)
                                                {
                                                    <th width="3%" class="meeting_line_c" data-id="@item.Id">@i (R)</th>
                                                }
                                                else
                                                {
                                                    <th width="3%" class="meeting_line_c" data-id="@item.Id">@i</th>
                                                }

                                                @if (ViewBag.Type == 0 || ViewBag.Type == 2)
                                                {
                                                    <th class="ml_table_operations">
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                Əməliyyatlar
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="javascript:void(0)" data-id="@item.Id" class="show_meeting_line_modal meeting_line_c">Bax</a>
                                                                </li>
                                                                @if (item.StatusId == 1 && item.CreatorId == user_id)
                                                                {
                                                                    if (item.IsRevised == 0)
                                                                    {
                                                                        if (item.MeetingId == null)
                                                                        {
                                                                            <li>
                                                                                <a href="javascript:void(0)" data-id="@item.Id" class="publish_ml_task">Təsdiqlə</a>
                                                                            </li>
                                                                        }
                                                                        else if (item.Meeting.StatusId == 2)
                                                                        {
                                                                            <li>
                                                                                <a href="javascript:void(0)" data-id="@item.Id" class="publish_ml_task">Təsdiqlə</a>
                                                                            </li>
                                                                        }

                                                                    }
                                                                    <li>
                                                                        <a href="/MeetingLine/Edit/@item.Id" class="edit_ml_task">Düzəliş et</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/MeetingLine/Cancel/@item.Id" class="cancel_ml_task">Ləğv et</a>

                                                                    </li>
                                                                }

                                                                @{
                                                                    adyTask2.Models.User _user;
                                                                    using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                                    {
                                                                        _user = adyContext.User.FirstOrDefault(x => x.EmailAddress == User.Identity.Name);
                                                                    }
                                                                    bool _directed = item.StatusId == 3 && (item.IsDirected == 0 && item.ResponsibleEmail == User.Identity.Name) || (item.IsDirected == 1 && item.Direct.FirstOrDefault(x => x.ToUserId == _user.Id) != null);
                                                                    bool _confirmer = item.StatusId == 5 && item.IdentifierEmail == User.Identity.Name;
                                                                    bool _follower = item.StatusId == 6 && item.FollowerEmail == User.Identity.Name;

                                                                    if (ViewBag.Type == 0 && (_directed || _follower || _confirmer))
                                                                    {
                                                                        if (_directed)
                                                                        {
                                                                            <li>
                                                                                <a href="/MeetingOperation/Add/@item.Id">Əməliyyat et</a>
                                                                            </li>
                                                                            @*<li>
                                                                                    <a href="/MeetingLine/Redirect/@item.Id">Yönləndir</a>
                                                                                </li>*@
                                                                        }
                                                                        <li>
                                                                            <a href="/MeetingLine/Status/@item.Id">Statusunu dəyiş</a>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </th>
                                                }

                                                <th class="meeting_line_c" data-id="@item.Id">@item.MlTypeNavigation.Name</th>
                                                <th class="meeting_line_c" data-id="@item.Id">@item.Description</th>
                                                <th class="meeting_line_c" data-id="@item.Id">@item.StartTime.Value.Day/@item.StartTime.Value.Month/@item.StartTime.Value.Year</th>
                                                @{
                                                    string finish_time = item.FinishTime.HasValue ? $"{item.FinishTime.Value.Day}/{item.FinishTime.Value.Month}/{item.FinishTime.Value.Year}" : "";
                                                }
                                                <th class="meeting_line_c" data-id="@item.Id">@finish_time</th>

                                                @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                {

                                                    adyTask2.Models.User responsePerson;

                                                    if (item.Direct.Where(x => x.MlId == item.Id).Count() > 0)
                                                    {
                                                        var direct_user = item.Direct.OrderByDescending(x => x.Id).FirstOrDefault(x => x.MlId == item.Id).ToUserId;
                                                        responsePerson = adyContext.User.FirstOrDefault(x => x.PersonId == direct_user);
                                                    }
                                                    else
                                                    {
                                                        responsePerson = adyContext.User.FirstOrDefault(x => x.EmailAddress == item.ResponsibleEmail);
                                                    }


                                                    var confirmedPerson = adyContext.User.FirstOrDefault(x => x.EmailAddress == item.IdentifierEmail);


                                                    string rPerson = responsePerson != null ? $"{responsePerson.FirstName} {responsePerson.LastName}" : "";
                                                    string cPerson = confirmedPerson != null ? $"{confirmedPerson.FirstName} {confirmedPerson.LastName}" : "";
                                                    string status_name = item.StatusId == 1 && item.IsRevised == 1 ? "Revizə" : item.Status.StatusName;

                                                    <th class="meeting_line_c" data-id="@item.Id">@rPerson</th>
                                                    <th class="meeting_line_c" data-id="@item.Id">@cPerson</th>
                                                    <th class="meeting_line_c" data-id="@item.Id">@status_name</th>
                                                }




                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>