@using adyTask2.Models;

@{
    Meeting meeting = Model;
}

<div class="meeting_show" data-type="0">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title" id="meeting-title-section">
                        İclas - @meeting.Id
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">İclas növü</label>
                                <div class="col-sm-7">
                                    <span>@meeting.MeetingTypeNavigation.Name</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="title" class="col-sm-5 control-label">Mövzu</label>

                                <div class="col-sm-7">
                                    <span>@meeting.Title</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Departament</label>

                                <div class="col-sm-7">
                                    @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                    {
                                        var dep_ids = adyContext.MDepartment.Where(x => x.Type == 1 && x.RefId == meeting.Id).Select(x => x.DepartmentId);
                                        var dep_names = adyContext.Department.Where(x => dep_ids.Contains(x.Id)).Select(x => x.Name);
                                        <span>@string.Join(',', dep_names)</span>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row row_twenty">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">İclas rəhbəri</label>

                                <div class="col-sm-7">
                                    @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                    {
                                        var _user = adyContext.User.FirstOrDefault(x => x.EmailAddress == meeting.OwnerUser);
                                        @if (_user != null)
                                        {
                                            <span>@_user.FirstName @_user.LastName</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Təqib edən</label>

                                <div class="col-sm-7">
                                    @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                    {
                                        var _user = adyContext.User.FirstOrDefault(x => x.EmailAddress == meeting.FollowerUser);
                                        @if (_user != null)
                                        {
                                            <span>@_user.FirstName @_user.LastName</span>
                                        }

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Məlumat veriləcək</label>

                                <div class="col-sm-7">
                                    @if (!string.IsNullOrEmpty(meeting.InformedUser))
                                    {
                                        using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                        {
                                            var iuSplit = meeting.InformedUser.Split(';');
                                            var iuUsers = adyContext.User.Where(x => iuSplit.Contains(x.EmailAddress));
                                            var user = iuUsers.Select(x => new { FullName = x.FirstName + " " + x.LastName });

                                            <span>@string.Join(", ", user.Select(x => x.FullName))</span>
                                        }

                                    }

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row row_twenty">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Tarix</label>

                                <div class="col-sm-7">
                                    <div class="input-group">
                                        @{
                                            var StartTime = meeting.MeetingDate.Value;
                                        }
                                        <span>@StartTime.Day/@StartTime.Month/@StartTime.Year</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Başlama saatı</label>

                                <div class="col-sm-7">
                                    @{
                                        string StartMinute = StartTime.Minute.ToString();
                                        if (StartMinute.Length == 1)
                                            StartMinute = "0" + StartMinute;
                                    }
                                    <span>@StartTime.Hour:@StartMinute</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Bitmə saatı</label>
                                <div class="col-sm-7">
                                    @{
                                        var FinishTime = meeting.FinishDate.Value;

                                        string FinishMinute = FinishTime.Minute.ToString();
                                        if (FinishMinute.Length == 1)
                                            FinishMinute = "0" + FinishMinute;
                                    }
                                    <span>@FinishTime.Hour:@FinishMinute</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row row_twenty">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Yer</label>

                                <div class="col-sm-7">
                                    @if (meeting.Place.HasValue)
                                    {
                                        <span>@meeting.PlaceNavigation.Name</span>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">İştirak edənlər</label>

                                <div class="col-sm-7">
                                    @if (!string.IsNullOrEmpty(meeting.Participiants))
                                    {
                                        using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                        {
                                            var pSplit = meeting.Participiants.Split(';');
                                            var pUsers = adyContext.User.Where(x => pSplit.Contains(x.EmailAddress));
                                            var user = pUsers.Select(x => new { FullName = x.FirstName + " " + x.LastName });

                                            <span>@string.Join(", ", user.Select(x => x.FullName))</span>
                                        }
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">ADY xarici iştirakçılar</label>

                                <div class="col-sm-7">
                                    @if (!string.IsNullOrEmpty(meeting.OtherParticipiants))
                                    {
                                        @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                        {
                                            var oSplit = meeting.OtherParticipiants.Split(';');
                                            var oUsers = adyContext.OtherParticipiants.Where(x => oSplit.Contains(x.Id.ToString()));
                                            var user = oUsers.Select(x => new { FullName = x.Name + " " + x.Surname });

                                            <span>@string.Join(", ", user.Select(x => x.FullName))</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row row_twenty">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Açıqlama</label>

                                <div class="col-sm-10">
                                    <span>@meeting.Description</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row_twenty">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Tag</label>

                                <div class="col-sm-7">
                                    @{
                                        string tags = "";
                                        using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                        {
                                            tags = string.Join(", ", adyContext.Tags.Where(x => x.Type == 1 && x.RefId == meeting.Id).Select(x => x.Name));
                                        }
                                    }
                                    <span>@tags</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Sənədlər</label>

                                <div class="col-sm-10">
                                    @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                    {
                                        var _attach = adyContext.Attachment.FirstOrDefault(x => x.Type == 1 && x.RefId == meeting.Id);

                                        if (_attach != null)
                                        {
                                            <a href="@_attach.Path" class="attachment btn btn-info btn-file">Endir</a>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>