@using adyTask2.Models
@{
    ViewData["Title"] = "İclas nizamlama";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Meeting _meeting = Model;
    int[] _dep = ViewData["Department"] as int[];
    string _attach = ViewData["Attachment"] as string;
    string _tags = ViewData["Name"] as string;
    int id = ViewBag.Id;
}

@section Modal{
    @await Component.InvokeAsync("AjaxModal")
}


<div class="meeting_add" data-type="1" data-id="@id" data-edit="1">
    <div id="mlp" data-id="@ViewBag.MLPermission" hidden></div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title" id="meeting-title-section">
                        @_meeting.Title
                    </div>

                    <div class="new_meeting_option add_ml_option panel-options">
                        <a href="javascript:void(0)">
                            <span>Sətir əlavə et</span>
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                    <div class="panel-options">
                        <a href="#" class="minimize_meeting" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <form role="form" class="form-horizontal form-groups-bordered" enctype="multipart/form-data">

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">İclas növü</label>
                                    <div class="col-sm-7">
                                        <select class="form-control js-example-basic-single select2c" required name="meeting_type" id="meeting_type">
                                            @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                            {
                                                int user_id = int.Parse(User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
                                                var permissions = adyContext.Permission.FirstOrDefault(x => x.UserId == user_id);

                                                if (permissions != null)
                                                {
                                                    bool isNullMTypePermission = string.IsNullOrEmpty(permissions.Mtype);
                                                    int[] MeetingTypesArray = !isNullMTypePermission ? Array.ConvertAll(permissions.Mtype.Split(';'), x => int.Parse(x)) : new int[0];

                                                    var MTypes = adyContext.MeetingType.Where(x => MeetingTypesArray.Contains(x.Id));

                                                    foreach (var item in MTypes)
                                                    {
                                                        if (item.Id == _meeting.MeetingType)
                                                        {
                                                            <option value="@item.Id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@item.Name</option>

                                                        }
                                                    }
                                                }
                                                else if (User.IsInRole("Admin"))
                                                {
                                                    foreach (var item in adyContext.MeetingType)
                                                    {
                                                        if (item.Id == _meeting.MeetingType)
                                                        {
                                                            <option value="@item.Id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@item.Name</option>

                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="title" class="col-sm-5 control-label">Mövzu</label>

                                    <div class="col-sm-7">
                                        <input type="text" required class="form-control" id="title" placeholder="Mövzu" value="@_meeting.Title">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">Yer</label>

                                        <div class="col-sm-7">
                                            <select name="place" id="meeting_place" class="js-example-basic-single select2c" required>
                                                @if (_meeting.Place > 0)
                                                {
                                                    using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                    {
                                                        <option></option>
                                                        <option value="@_meeting.Place" selected>@adyContext.Place.FirstOrDefault(x => x.Id == _meeting.Place).Name</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Tag</label>

                                    <div class="col-sm-7">
                                        <input type="text" value="@_tags" class="form-control tagsinput" id="meetingTags" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">İclas rəhbəri</label>

                                    <div class="col-sm-7">
                                        <select class="form-control js-example-basic-single select2c" required name="ownerUser" id="ownerUser">
                                            <option></option>
                                            @{
                                                using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                {
                                                    var ownerUser = _meeting.OwnerUser;
                                                    var _user = adyContext.User.FirstOrDefault(x => x.EmailAddress == ownerUser);
                                                    <option selected value="@ownerUser">@_user.FirstName @_user.LastName (@_user.OrganizationFullName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Təqib edən</label>

                                    <div class="col-sm-7">
                                        <select class="form-control js-example-basic-single select2c" required name="followerUser" id="followerUser">
                                            <option></option>
                                            @{
                                                using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                {
                                                    var followerUser = _meeting.FollowerUser;
                                                    var _user = adyContext.User.FirstOrDefault(x => x.EmailAddress == followerUser);
                                                    <option selected value="@followerUser">@_user.FirstName @_user.LastName (@_user.OrganizationFullName)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Tarix</label>

                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            @{
                                                var StartTime = _meeting.MeetingDate.Value;
                                                <input type="text" required class="form-control datepicker" id="meeting_start_date" data-format="dd/mm/yyyy" value="@StartTime.Day/@StartTime.Month/@StartTime.Year">
                                            }

                                            <div class="input-group-addon">
                                                <a href="#"><i class="entypo-calendar"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Başlama saatı</label>

                                    <div class="col-sm-7">
                                        <input type="text" required class="form-control timepicker" id="meeting_start_time" data-template="dropdown" data-show-seconds="false" data-default-time="@StartTime.Hour:@StartTime.Minute" data-show-meridian="false" data-minute-step="5" name="start_date" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Bitmə saatı</label>
                                    <div class="col-sm-7">
                                        @{
                                            var FinishTime = _meeting.FinishDate.Value;
                                        }
                                        <input type="text" required id="meeting_finish_time" class="form-control timepicker" data-template="dropdown" data-show-seconds="false" data-default-time="@FinishTime.Hour:@FinishTime.Minute" value="@FinishTime.Hour:@FinishTime.Minute" data-show-meridian="false" data-minute-step="5" name="finish_date" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Açıqlama</label>

                                    <div class="col-sm-10">
                                        <textarea class="form-control m_description" id="description" required placeholder="Açıqlama" name="description">@_meeting.Description</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Departament</label>

                                    <div class="col-sm-10">

                                        <select id="meetingDepartment" name="departmentId" class="js-example-basic-single select2c" required multiple>
                                            <option></option>
                                            @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                            {
                                                foreach (int item in _dep)
                                                {
                                                    <option selected value="@item">@adyContext.Department.FirstOrDefault(x => x.Id == item).Name</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Məlumat veriləcək</label>

                                    <div class="col-sm-10">
                                        <select name="informedUser" id="informedUser" class="js-example-basic-single select2c" multiple>
                                            <option></option>
                                            @{
                                                if (_meeting.InformedUser != null)
                                                    using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                    {
                                                        User _user;
                                                        foreach (var item in _meeting.InformedUser.Split(';'))
                                                        {
                                                            _user = adyContext.User.FirstOrDefault(x => x.EmailAddress == item);
                                                            <option selected value="@item">@_user.FirstName @_user.LastName (@_user.OrganizationFullName)</option>
                                                        }
                                                    }
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">ADY xarici iştirakçılar</label>

                                    <div class="col-sm-9">

                                        <select name="other_participants" id="other_participants" class="js-example-basic-single select2c" multiple>
                                            <option></option>
                                            @{
                                                if (_meeting.OtherParticipiants != null)
                                                    using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                    {
                                                        OtherParticipiants _user;
                                                        foreach (var item in _meeting.OtherParticipiants.Split(';'))
                                                        {
                                                            _user = adyContext.OtherParticipiants.FirstOrDefault(x => x.Id == int.Parse(item));
                                                            string company = !string.IsNullOrEmpty(_user.Company) ? $"({_user.Company})" : "";
                                                            <option selected value="@item">@_user.Name @_user.Surname @company</option>
                                                        }
                                                    }
                                            }
                                        </select>
                                    </div>

                                    <div class="col-sm-1">
                                        <a href="javascript:void(0)" class="add_others_btn" data-toggle="modal" data-target="#modal-6">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row row_twenty">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">İştirak edənlər</label>

                                    <div class="col-sm-10">

                                        <select name="participants" id="participants" required class="js-example-basic-single select2c" multiple>
                                            <option></option>
                                            @{
                                                if (_meeting.Participiants != null)
                                                    using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                                    {
                                                        User _user;
                                                        foreach (var item in _meeting.Participiants.Split(';'))
                                                        {
                                                            _user = adyContext.User.FirstOrDefault(x => x.EmailAddress == item);
                                                            <option selected value="@item">@_user.FirstName @_user.LastName (@_user.OrganizationFullName)</option>
                                                        }
                                                    }
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row_twenty">


                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Sənədlər</label>

                                    <div class="col-sm-10">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-info btn-file">
                                                <span class="fileinput-new">Yüklə</span>
                                                <span class="fileinput-exists">Dəyiş</span>
                                                <input type="file" name="meetingFile" id="meetingFile">
                                            </span>
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div>
                                        @if (!string.IsNullOrEmpty(_attach))
                                        {
                                            <div class="remove_file"><div><span>@_attach</span><a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></div></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row row_twenty meeting_add_submit_row">
                            <div class="col-md-3 updtSave">
                                <a href="javascript:void(0)" class="btn btn-green btn-sm updateMeeting">Nizamla</a>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>


@section style{
    <link rel="stylesheet" href="/Content/assets/js/selectboxit/jquery.selectBoxIt.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/js/select2/select2.css">
    <link rel="stylesheet" href="/Content/assets/js/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/Content/assets/js/zurb-responsive-tables/responsive-tables.css">
}

@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script src="/Content/assets/js/bootstrap-datepicker.js"></script>
    <script src="/Content/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="/Content/assets/js/bootstrap-tagsinput.min.js"></script>
    <script src="/Content/assets/js/dropzone/dropzone.js"></script>
    <script src="/Content/assets/js/zurb-responsive-tables/responsive-tables.js"></script>
    <script src="~/Content/assets/js/meetingl.js"></script>
}