
@{
    Layout = null;
}

@using adyTask2.Models

@{
    IQueryable<MLog> logs = Model;
}


<div class="meeting_operation_table" data-count="@logs.Count()">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">
                <div class="panel-heading">
                    <div class="panel-title">
                        Bildirişlər
                    </div>
                    <div class="new_meeting_line_option new_meeting_operation panel-options">
                        <a href="javascript:void(0)" class="all_remove_notifications">
                            <span>Sil</span>
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <div class="panel_heading_s">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="s30">
                                <span>Növü</span>
                            </div>
                            <div class="s70 taskSelect">
                                <select class="form-control select2c select2" name="meeting_line_type" id="meeting_line_type">
                                    <option></option>
                                    @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                    {
                                        if (ViewBag.MeetingLine == 1)
                                        {
                                            <option value="3">Hamısı</option>
                                            <option value="1" selected>Birbaşa tapşırıqlar</option>
                                            <option value="2">İcas tapşırıqları</option>
                                        }
                                        else if (ViewBag.MeetingLine == 2)
                                        {
                                            <option value="3">Hamısı</option>
                                            <option value="1">Birbaşa tapşırıqlar</option>
                                            <option value="2" selected>İcas tapşırıqları</option>
                                        }
                                        else
                                        {
                                            <option value="3" selected>Hamısı</option>
                                            <option value="1">Birbaşa tapşırıqlar</option>
                                            <option value="2">İcas tapşırıqları</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="s40">
                                <span>Açıqda qalanlar</span>
                            </div>

                            <div class="s60 taskSelect">
                                <select class="form-control select2c select2" name="notCompletedButton" id="notCompletedButton">
                                    <option></option>
                                    @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                    {
                                        if (ViewBag.NotCompleted == 1)
                                        {
                                            <option value="3">Hamısı</option>
                                            <option value="1" selected>Açıqda qalanlar</option>
                                            <option value="2">Tamamlananlar</option>
                                        }
                                        else if (ViewBag.NotCompleted == 2)
                                        {
                                            <option value="3">Hamısı</option>
                                            <option value="1">Açıqda qalanlar</option>
                                            <option value="2" selected>Tamamlananlar</option>
                                        }
                                        else
                                        {
                                            <option value="3" selected>Hamısı</option>
                                            <option value="1">Açıqda qalanlar</option>
                                            <option value="2">Tamamlananlar</option>
                                        }

                                    }
                                </select>
                            </div>



                        </div>

                        <div class="col-xs-4">
                            <div class="s30">
                                <span>Mənim yaratdıqlarım</span>
                            </div>

                            <div class="s70 taskSelect">
                                <select class="form-control select2c select2" name="myMeetingLinesButton" id="myMeetingLinesButton">
                                    <option></option>
                                    @using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                    {
                                        if (ViewBag.MyMeetingLines == 1)
                                        {
                                            <option value="3">Hamısı</option>
                                            <option value="1" selected>Mənim yaratdıqlarım</option>
                                            <option value="2">Digərlərinin yaratdıqları</option>
                                        }
                                        else if (ViewBag.MyMeetingLines == 2)
                                        {
                                            <option value="3">Hamısı</option>
                                            <option value="1">Mənim yaratdıqlarım</option>
                                            <option value="2" selected>Digərlərinin yaratdıqları</option>
                                        }
                                        else
                                        {
                                            <option value="3" selected>Hamısı</option>
                                            <option value="1">Mənim yaratdıqlarım</option>
                                            <option value="2">Digərlərinin yaratdıqları</option>
                                        }

                                    }
                                </select>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th width="1%">
                                            <input tabindex="5" type="checkbox" class="icheck-11 first-check">
                                        </th>
                                        <th width="3%">#</th>
                                        <th>Adı</th>
                                        <th>Növü</th>
                                        <th>Açıqlama</th>
                                        <th>Əməliyyat açıqlaması</th>
                                        <th>İstifadəçi</th>
                                        <th>İcraçı</th>
                                        <th>Yaradılma tarixi</th>
                                        <th>Bitmə tarixi</th>
                                        <th>Status</th>
                                        <th width="1%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = (ViewBag.PageNumber - 1) * 10 + 1;
                                        using (adyTaskManagementContext adyContext = new adyTaskManagementContext())
                                        {
                                            foreach (MLog item in logs)
                                            {
                                                if (item.Type == 1)
                                                {
                                                    var meeting = adyContext.Meeting.FirstOrDefault(x => x.Id == item.RefId);
                                                    var meetingOwner = adyContext.User.FirstOrDefault(x => x.EmailAddress == meeting.OwnerUser);
                                                    <tr data-id="@item.RefId">
                                                        <td width="1%">
                                                            <input tabindex="5" type="checkbox" data-id="@item.RefId" class="ml_check icheck-11">
                                                        </td>
                                                        <td class="meeting_c" data-id="@item.RefId">@i</td>
                                                        <td class="meeting_c" data-id="@item.RefId">@meeting.Title</td>
                                                        <th class="meeting_c" data-id="@item.RefId">İclas</th>
                                                        <th class="meeting_c" data-id="@item.RefId">@meeting.Description</th>
                                                        <td class="meeting_c">@item.Operation.Operation</td>
                                                        <th class="meeting_c" data-id="@item.RefId">@item.User.FirstName @item.User.LastName</th>
                                                        <th class="meeting_c" data-id="@item.RefId">@meetingOwner.FirstName @meetingOwner.LastName</th>
                                                        <th class="meeting_c" data-id="@item.RefId">@item.CreateDate.Value.Day/@item.CreateDate.Value.Month/@item.CreateDate.Value.Year</th>
                                                        <th class="meeting_c" data-id="@item.RefId">@meeting.FinishDate.Value.Day/@meeting.FinishDate.Value.Month/@meeting.FinishDate.Value.Year</th>
                                                        <th class="meeting_c" data-id="@item.RefId">@meeting.Status.StatusName</th>
                                                        <td width="1%"><a class="remove_notification" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></td>
                                                    </tr>
                                                }
                                                else if (item.Type == 2)
                                                {
                                                    var meetingline = adyContext.MeetingLine.FirstOrDefault(x => x.Id == item.RefId);
                                                    var responsibleUser = adyContext.User.FirstOrDefault(x => x.EmailAddress == meetingline.ResponsibleEmail);
                                <tr data-id="@item.RefId">
                                    <td width="1%">
                                        <input tabindex="5" type="checkbox" data-id="@item.RefId" class="ml_check icheck-11">
                                    </td>
                                    <td class="meeting_line_c mline_c">@i</td>
                                    <td class="meeting_line_c mline_c">@meetingline.Title</td>
                                    <td class="meeting_line_c mline_c">@meetingline.MlTypeNavigation.Name</td>
                                    <td class="meeting_line_c mline_c">@meetingline.Description</td>
                                    <td class="meeting_line_c mline_c">@item.Operation.Operation</td>
                                    <td class="meeting_line_c mline_c">@item.User.FirstName @item.User.LastName</td>
                                    @if (responsibleUser != null)
                                    {
                                        <td class="meeting_line_c mline_c">@responsibleUser.FirstName @responsibleUser.LastName</td>
                                    }
                                    else
                                    {
                                        <td class="meeting_line_c mline_c"></td>

                                    }
                                    @{
                                        var create_date = item.CreateDate.Value;
                                        var finish_date = meetingline.FinishTime.HasValue;
                                        var mls = adyContext.MeetingLine.FirstOrDefault(x => x.Id == item.RefId);
                                        string status_name = mls.StatusId == 1 && mls.IsRevised == 1 ? "Revizə" : mls.Status.StatusName;
                                        <td class="meeting_line_c mline_c">@create_date.Day/@create_date.Month/@create_date.Year</td>
                                        @if (finish_date)
                                        {
                                            <td class="meeting_line_c mline_c">@meetingline.FinishTime.Value.Day/@meetingline.FinishTime.Value.Month/@meetingline.FinishTime.Value.Year</td>
                                        }
                                        else
                                        {
                                            <td class="meeting_line_c mline_c"></td>

                                        }
                                        <td>@status_name</td>
                                    }
                                    <td width="1%"><a class="remove_notification" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                                }
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
